{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "plugins": [
    "jsx-a11y"
  ],
  "rules": {
    "jsx-a11y/img-redundant-alt": "off",
    "no-unused-vars": "warn",
    "no-console": "off",
    "react/react-in-jsx-scope": "off"
  }
}
